.user-filter-container{
    .filter-options{
        input{
            padding: 7px;
            margin: 15px 6px 0;
            font-size: 1rem;
            border: 1px solid gray;
            border-radius: 3px;
        }
    }
}